
.styledLinks {
  display: flex;
  align-items: center;
}

ol {
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
  margin: 0 20px;
  position: relative;
  float: left;
  font-weight: bold;
}

ol li::before {
  content: counter(item) ". ";
  color: red;
}

a,
a:visited,
a:hover {
  color: var(--dark-brown);
  text-decoration: none;
}

a:hover {
  color: var(--nude);
}
